{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block body %}
    <!-- Page Content -->
<div class="container">
  <div class="card border-0 shadow my-5">
    <div class="card-body p-5">
      <h1 class="font-weight-light">Accueil des étudiants Webforce3 / Social Builder - Promo Noisy-le-sec #winneuses ;)</h1>
      <p class="lead">Afin de pouvoir poster un article et accéder aux listes, veuillez tout d'abord vous connecter</p>
      <p class="lead">Vous pouvez également vous inscrire en tant qu'étudiant et ainsi échanger vos coordonnées.</p>
      <div style="height: 700px"></div>
      <p class="lead mb-0">You've reached the end!</p>
    </div>
  </div>
</div>
{% endblock %}
