{% extends 'base.html.twig' %}

{% block title %}Hello AccessDeniedController!{% endblock %}

{% block body %}
<div class="container">
  <div class="card border-0 shadow my-5">
    <div class="card-body p-5">
      <h1 class="font-weight-light">Accès interdit &#128219;</h1>
      <p class="lead">Vous n'avez pas la permission de voir cette page.</p>
      <p class="lead">Rapprochez-vous de votre administrateur réseau afin de faire réviser vos permissions.</p>
      <div style="height: 700px"></div>
      <p class="lead mb-0">Au revoir!</p>
    </div>
  </div>
</div>
{% endblock %}
